In [1]:
import pandas as pd

In [6]:
subject = pd.read_csv("/home/sachin/Desktop/DPSA/Teacher-Evaluvation/data/subjects.csv")
student = pd.read_csv("/home/sachin/Desktop/DPSA/Teacher-Evaluvation/data/students.csv")
feedback = pd.read_csv("/home/sachin/Desktop/DPSA/Teacher-Evaluvation/data/student_feedbacks.csv")

In [8]:
subject.head()

,Semester_ID,Subject_Code,Subject_Name,Teacher_ID,Course_Credits,Semester,Student_Year_Taught,Programme,Department,Class_Size
0,S001,DA127,Machine Learning Basics,T002,3,II,1st Year,Data Science,M.Sc.,60
1,S002,DA303,Natural Language Processing,T005,3,II,1st Year,Data Science,M.Sc.,60
2,S003,DA765,Data Mining,T001,3,II,1st Year,Data Science,M.Sc.,60
3,S004,DA384,Machine Learning Basics,T001,2,IV,2nd Year,Data Science,M.Sc.,51
4,S005,DA877,Deep Learning,T002,2,IV,2nd Year,Data Science,M.Sc.,51

In [9]:
student.head()

  Student_ID Student_Year     Programme Department  Gender
0     STU001     1st Year  Data Science      M.Sc.    Male
1     STU002     1st Year  Data Science      M.Sc.    Male
2     STU003     1st Year  Data Science      M.Sc.  Female
3     STU004     1st Year  Data Science      M.Sc.    Male
4     STU005     1st Year  Data Science      M.Sc.    Male

In [ ]:
feedback.head()

,Feedback_ID,Subject_Code,Student_ID,Semester_ID,Clarity_of_Explanation,Subject_Knowledge_of_Teacher,Engagement_in_Class,Encouragement_of_Participation,Fairness_in_Grading,Timely_Feedback_on_Assignments,Availability_for_Doubts_Outside_Class,Use_of_Teaching_Aids_Technology,Classroom_Management,Pacing_of_Course,Relevance_of_Course_Material,Encouragement_of_Critical_Thinking,Respectful_and_Inclusive_Environment,Adjustment_to_Student_Confusion,Overall_Teaching_Effectiveness
0,F0001,DA127,STU001,S001,5,1,3,3,5,5,5,2,4,1,3,4,1,3,5
1,F0002,DA303,STU001,S002,4,3,4,5,1,5,5,4,3,5,4,2,2,5,5
2,F0003,DA765,STU001,S003,5,5,4,5,4,4,5,5,5,4,5,2,3,4,2
3,F0004,DA127,STU002,S001,3,2,3,5,4,4,3,3,5,5,5,3,5,3,4
4,F0005,DA303,STU002,S002,5,5,4,5,5,5,3,1,4,3,3,5,5,4,5